@import url("https://fonts.googleapis.com/css?family=Niconne|Poppins");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import"header.css";
@import"footer.css";
@import"body.css";
   
/*grid container that consist of  navbar and blog pos and footer */
.container{
    display: grid;
   grid-gap: 10px;
    grid-template-rows: (4, 1fr);
     grid-template-areas:  " header   "
                         "  second  " 
                         "  second  "
                         "  third   ";
   justify-items: center;
}

a{
   text-decoration: none;
   color: #fff;

}
.header a:hover{
   text-decoration: underline;
  
}
/*div that contain blog post will have  display  flex  to arrange items in columns*/
.post{
    grid-area: second;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
}
/*blog post content*/
.content {
    width: 60%;
    margin-bottom: 5%;
    line-height: 1.6;
    font-size: large;
}
/*blog post image*/
.post img{
    width: 40vw;
    margin-top: 7vw;
    margin-bottom: 5vw;
    border-radius: 1.5vw;
    box-shadow: 2px 2px 1px 1px;
    
    
}