@import url("https://fonts.googleapis.com/css?family=Niconne|Poppins");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/flyer-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    
    }
    /*grid container that consist of  navbar and blog pos and footer */
.container{
    display: grid;
   grid-gap: 10px;
 /*  grid-template-columns: repeat(1, 1fr);*/
    grid-template-rows: (4, 1fr);
     grid-template-areas:  "  first   "
                         "  second  " 
                         "  second  "
                         "  third   ";
   justify-items: center;
}
  
  /*design logo "my blog" */
#logo {
    font-size: 60px;
    color : pink;
    font-family: "Niconne";
    padding-top: 1vw;
    padding-left: 2vw;
    text-decoration: none;
    }
    /*design logo word " blog" */
#blog{
      color: tan;
    }
    /*sticky navbar*/
header{
    position: sticky;
    grid-area: first;
    top: 0;
    color: white;
    width: 99.8% ;
    margin-bottom: 17vh;
    min-height: 2vh;
    background: rgba(26, 10, 10, 0.5);
    border-radius: 1%;
    z-index: 5;

    }

a{
   text-decoration: none;
   color: #fff;

}
.header a:hover{
   text-decoration: underline;
  
}
.nav{
   float: right;
   text-align: center;
   font-size: 1.5vw;
   padding-right: 2vw;
   padding: 1vw;
}
#navv{
   padding-right: 3vw;
}
/*div that contain blog post will have  display  flex  to arrange items in columns*/
.post{
    grid-area: second;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
}
/*blog post content*/
.content{
    width: 60%;
    margin-bottom: 5%;
    line-height: 1.6;
    font-size: large;
}
/*blog post image*/
.post img{
    width: 500px;
    margin-top: 7vw;
    margin-bottom: 5vw;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px;
    
    
}
/*footer*/
.third{
    grid-column: 1/6;
    grid-area: third;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    align-items: center;
    color: #fff;
    width: 99.8%;
    border: 1px black solid;
    border-radius: 3px;
    min-height: 22vh;
    background: linear-gradient(45deg, rgb(1, 1, 8) 0%,rgba(134, 13, 13, 0.94) 100%);
 }
 .designer{
    color: #09f7f78e;
   
   
 }
 .fa {
    padding: 20px;
    font-size: 1.5vw;
    width: 1.5vw;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
 }
 
 .fa:hover {
     border: 1px solid rgba(243, 243, 243, 0.767);
     opacity: 0.9;
     transform: scale(1.1);
     
     
     
 }
 
 .fa-facebook {
    background: #3B5998;
    color: white;
    float: right;
 }
 
 .fa-twitter {
    background: #55ACEE;
    color: white;
    float: right;
 }
 
 .fa-google {
    background: #dd4b39;
    color: white;
    float: right;
 }
 
 .fa-linkedin {
    background: #007bb5;
    color: white;
    float: right;
 }
 
 .fa-youtube {
    background: #bb0000;
    color: white;
    float: right;
 }
 
 .fa-instagram {
    background: #125688;
    color: white;
    float: right;
 }
 #social-icons{
    width: 100%; 
    float: right;
 
 }
 #copy{
    text-align: center;
    margin-top: 15px;
 }
 #designed-by{
    font-size: 1.25em;
   font-family: 'Modak', cursive;
 }